@media screen and (max-width: 768px) {
  .collection {
    .cards {
      --offset: 30px;
      --image: 500px;
    }
    .card {
      &__title {
        font-size: calc(var(--font-size) * 1.5);
      }
      &__text {
        font-size: calc(var(--font-size) * 0.85);
      }
    }
  }
  .location-content {
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(300px, 1fr);
  }

  .reviews {
    --offset: 40px;
  }
}

@media screen and (max-width: 576px) {
  .header {
    &-nav {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      
      .menu {
        display: none;
      }
    }
  }

  .hero {
    &__wrapper {
      padding: 0;
      text-align: center;
    }

    &__title {
      font-size: calc(var(--font-size) * 2);
    }
  }

  .collection {
    .cards {
      grid-template-columns: 1fr;
    }
  }

  .burger {
    display: flex;
  }

  .footer__inner {
    gap: 40px;
    flex-direction: column;
  }

  .footer .menu {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .footer .menu__link {
    font-size: calc(var(--font-size) * 1.05);
  }
}
